.Main__Card {    
    padding: 0.3rem 0.3rem;
    background-color: #e3e0e0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: sans-serif;
    max-width:1000px;
    display:flex;
    margin:auto;
} 
    
.Content__Card {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    border: 1px solid #979797;
    border-radius: 8px;
    color: #222;
} 
    
.Title {
    align-items: center;
    justify-content: center;
    text-align: center;
} 
    
.Subtitle {    
    font-size: 15px;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
} 
    
    
.SybilInput__Box{    
    margin: auto;
    gap: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}
    
.Button__Check {    
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    color: #ccccf7;
    background: #0000FF; 
    cursor:pointer;
} 
    
    
.Button__Check:hover{
    color: #0000FF;
    background: #ccccf7; 
    
} 

.Results{
    text-align:center;
    margin-top: 2 rem;
    font-size:16px;
} 
    
.InputBox {
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    min-width: 300px;
    border-color: #ab9a9a;
}
